body, html {
  width: 100%; }

.all-top {
  background: #eee; }
  .all-top #top-title {
    width: 1190px;
    height: 21px;
    margin: 0 auto;
    background: #eee;
    padding-top: 4px;
    border-bottom: 1px solid #e5e5e5;
    position: relative; }
    .all-top #top-title .topTitleLists {
      top: 4px;
      position: absolute;
      right: 0;
      height: 16px; }
      .all-top #top-title .topTitleLists li {
        float: left;
        padding: 0 14px;
        border-right: 1px solid #d5d5d5;
        height: 16px;
        line-height: 16px;
        position: relative; }
        .all-top #top-title .topTitleLists li a:hover {
          text-decoration: underline;
          color: red; }
        .all-top #top-title .topTitleLists li:first-child a {
          color: red; }
          .all-top #top-title .topTitleLists li:first-child a:hover {
            text-decoration: underline; }
          .all-top #top-title .topTitleLists li:first-child a:last-child {
            margin-left: 20px; }
        .all-top #top-title .topTitleLists li:nth-child(2) {
          position: relative;
          padding-right: 25px; }
          .all-top #top-title .topTitleLists li:nth-child(2):hover {
            background: #fff;
            border-bottom: 1px solid #fff;
            height: 24px; }
          .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl {
            position: absolute;
            width: 160px;
            top: 17px;
            background: #fff;
            right: 0;
            padding: 10px 0 8px 15px;
            z-index: 100; }
            .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl li {
              border-right: none;
              border-bottom: 1px dashed #ccc;
              padding-right: 0;
              padding-left: 0;
              height: 30px;
              line-height: 30px;
              margin-right: 15px;
              width: 63px; }
              .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl li a:hover {
                text-decoration: underline;
                color: red; }
              .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl li:hover {
                background: papayawhip; }
              .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl li:last-child {
                background: none; }
                .all-top #top-title .topTitleLists li:nth-child(2) .myShoes-xl li:last-child:hover {
                  background: papayawhip; }
          .all-top #top-title .topTitleLists li:nth-child(2) i {
            display: inline-block;
            position: absolute;
            top: 7px;
            right: 13px;
            height: 0;
            width: 0;
            border-width: 4px 4px 0;
            border-style: solid;
            border-color: #666 #eee #eee; }
        .all-top #top-title .topTitleLists li a {
          font-size: 12px;
          color: #666; }
        .all-top #top-title .topTitleLists li:nth-child(3) {
          padding-right: 25px; }
          .all-top #top-title .topTitleLists li:nth-child(3) .collectShoes {
            position: absolute;
            top: 20px;
            right: 0;
            width: 250px;
            background: white;
            z-index: 200; }
            .all-top #top-title .topTitleLists li:nth-child(3) .collectShoes li {
              float: left;
              width: 100px;
              height: 120px;
              padding: 10px;
              border-right: none; }
              .all-top #top-title .topTitleLists li:nth-child(3) .collectShoes li img {
                width: 100%;
                height: 100%; }
              .all-top #top-title .topTitleLists li:nth-child(3) .collectShoes li:last-child {
                background: none; }
          .all-top #top-title .topTitleLists li:nth-child(3) i {
            display: inline-block;
            position: absolute;
            top: 7px;
            right: 13px;
            height: 0;
            width: 0;
            border-width: 4px 4px 0;
            border-style: solid;
            border-color: #666 #eee #eee; }
          .all-top #top-title .topTitleLists li:nth-child(3) s {
            margin-right: 5px; }
      .all-top #top-title .topTitleLists li:nth-child(5) {
        padding-left: 30px; }
        .all-top #top-title .topTitleLists li:nth-child(5) s {
          background: url(../images/default_icon_bg.png) no-repeat -503px -43px;
          position: absolute;
          left: 8px;
          width: 16px;
          height: 16px;
          display: inline-block; }
      .all-top #top-title .topTitleLists li:last-child {
        background: url(../images/default_icon_bg.png) no-repeat -316px -65px;
        width: 124px;
        height: 16px;
        text-align: center;
        position: relative; }
        .all-top #top-title .topTitleLists li:last-child i {
          margin-left: 10px;
          position: absolute;
          left: 10px; }

#top-search {
  width: 1190px;
  margin: 0 auto;
  height: 76px;
  padding-top: 10px; }
  #top-search .left-logo {
    float: left; }
    #top-search .left-logo a {
      background: url(../images/default_icon_bg.png) no-repeat 0 -1px;
      display: inline-block;
      width: 421px;
      height: 63px; }
  #top-search .middle-search {
    height: 30px;
    line-height: 30px;
    width: 345px;
    float: left;
    margin-left: 100px;
    padding: 8px 0 4px; }
    #top-search .middle-search .sPut {
      height: 30px; }
      #top-search .middle-search .sPut input:first-child {
        width: 260px;
        border: 2px solid #d5d5d5;
        height: 26px;
        float: left;
        line-height: 26px;
        color: #666;
        padding: 0 5px;
        border-right: 0; }
      #top-search .middle-search .sPut input:nth-child(2) {
        height: 30px;
        float: left;
        line-height: 30px;
        color: #666;
        text-align: center;
        width: 65px;
        background: #444;
        border: 0;
        color: #fff;
        font-size: 16px;
        cursor: pointer; }
  #top-search .cart {
    background: url(../images/default_icon_bg.png) no-repeat 0 -64px;
    display: block;
    line-height: 34px;
    height: 34px;
    width: 80px;
    padding-left: 46px;
    float: right;
    margin-top: 12px; }
    #top-search .cart a {
      color: #666;
      font-size: 12px; }
      #top-search .cart a b {
        padding: 0 3px;
        color: #c00; }
    #top-search .cart:hover {
      background: url(../images/default_icon_bg.png) no-repeat 0 -98px;
      color: #fff; }
      #top-search .cart:hover a {
        color: #fff; }
        #top-search .cart:hover a b {
          color: #c00; }

#nav-header {
  background: #a21f25; }
  #nav-header .nav {
    width: 1190px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    background: #a21f25; }
  #nav-header .nav-contleft {
    float: left; }
    #nav-header .nav-contleft li.firstNav {
      width: 190px; }
    #nav-header .nav-contleft li:hover {
      background: none;
      background: black; }
  #nav-header .listShow {
    width: 190px;
    position: absolute;
    top: 146px;
    z-index: 110;
    background: black;
    color: #fff; }
    #nav-header .listShow li {
      width: 190px;
      height: 40px;
      line-height: 40px;
      font-size: 12px;
      background: none; }
      #nav-header .listShow li s {
        display: inline-block;
        width: 33px;
        height: 33px;
        line-height: 33px;
        float: left;
        position: relative; }
      #nav-header .listShow li i {
        display: inline-block;
        float: left;
        position: relative; }
      #nav-header .listShow li:first-child {
        background-color: black;
        position: relative;
        text-align: left;
        line-height: 40px;
        height: 40px;
        font-weight: normal;
        font-size: 12px; }
        #nav-header .listShow li:first-child s {
          background: url(../images/navcats_icon.png) no-repeat 4px -51px;
          display: inline-block;
          width: 33px;
          height: 33px;
          line-height: 33px; }
          #nav-header .listShow li:first-child s .sportShoes {
            position: absolute;
            left: 190px; }
      #nav-header .listShow li:nth-child(2) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -92px; }
      #nav-header .listShow li:nth-child(3) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -136px; }
      #nav-header .listShow li:nth-child(4) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -187px; }
      #nav-header .listShow li:nth-child(5) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -231px; }
      #nav-header .listShow li:nth-child(6) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -275px; }
      #nav-header .listShow li:nth-child(7) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -332px; }
      #nav-header .listShow li:nth-child(8) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -463px; }
      #nav-header .listShow li:nth-child(9) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -422px; }
      #nav-header .listShow li:nth-child(10) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -422px; }
      #nav-header .listShow li:nth-child(11) s {
        background: url(../images/navcats_icon.png) no-repeat 3px -422px; }
  #nav-header li {
    float: left;
    height: 34px;
    line-height: 34px;
    background: url(../images/defaultnav_icon_bg.png) no-repeat 0 11px; }
    #nav-header li a {
      font-size: 14px;
      color: #fff;
      display: inline-block;
      padding: 0 24px;
      text-decoration: none; }
    #nav-header li:first-child {
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 14px;
      color: #FFF;
      font-weight: 700;
      background: none;
      background-color: #B9363D; }
    #nav-header li:nth-child(2) a {
      color: #FFF;
      background: #444; }
    #nav-header li:nth-child(3) {
      background: none; }
    #nav-header li:last-child {
      position: relative; }
      #nav-header li:last-child .weiXinShow {
        position: absolute;
        width: 165px;
        height: 165px;
        z-index: 120; }
  #nav-header .nav-contright {
    float: right;
    width: 195px;
    height: 34px; }
    #nav-header .nav-contright li {
      float: left; }
      #nav-header .nav-contright li a {
        font-size: 12px;
        padding: 0 10px;
        color: #f6e9ea;
        border-right: 1px solid #d18f92;
        height: 14px;
        line-height: 14px;
        margin-top: 11px;
        float: left; }
        #nav-header .nav-contright li a:hover {
          color: #FC0;
          text-decoration: underline; }
      #nav-header .nav-contright li:last-child a {
        color: #FC0; }
        #nav-header .nav-contright li:last-child a:hover {
          text-decoration: underline; }

#carousel-banner {
  margin: 0 auto;
  height: 550px;
  position: relative; }
  #carousel-banner .carousel li {
    position: absolute;
    width: 1600px;
    height: 550px;
    top: 0;
    left: -205px; }
  #carousel-banner .dot {
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 10px; }
    #carousel-banner .dot li {
      display: block;
      float: left;
      width: 14px;
      height: 14px;
      text-indent: -99px;
      overflow: hidden;
      background: #B5B5B5;
      border-radius: 50%;
      margin-right: 8px;
      cursor: pointer; }
    #carousel-banner .dot .dotAdd {
      background: red; }

#nav-header .sportShoes {
  overflow: hidden;
  width: 280px;
  margin: 0 20px;
  position: absolute;
  left: 170px;
  padding: 0 20px;
  top: 0;
  background: #ccc; }
  #nav-header .sportShoes h3 {
    position: relative;
    height: 20px;
    width: auto;
    margin: 25px auto 0;
    border-bottom: 1px solid #000; }
    #nav-header .sportShoes h3 a {
      color: #000;
      font-family: 'Microsoft YaHei';
      position: absolute;
      bottom: 0;
      display: block;
      width: 90px;
      height: 20px;
      padding-left: 40px;
      line-height: 20px;
      padding-top: 17px;
      text-decoration: none;
      font-weight: 700;
      -webkit-transition: left .3s linear;
      -moz-transition: left .3s linear;
      -o-transition: left .3s linear;
      transition: left .3s linear; }
    #nav-header .sportShoes h3 .more {
      right: 0;
      text-align: right; }
    #nav-header .sportShoes h3 .sport {
      left: 0;
      text-align: left;
      background: url(../images/lf_pop_icon.png) no-repeat;
      background-position: -23px -212px; }
  #nav-header .sportShoes .juti {
    width: auto;
    margin: 10px 0 0 -1px;
    overflow: hidden; }
    #nav-header .sportShoes .juti a {
      display: inline-block;
      float: left;
      white-space: nowrap;
      padding: 0 8px;
      margin-top: 5px;
      color: #888; }

#nav-header .sportShoes1 {
  overflow: hidden;
  width: 280px;
  margin: 0 20px;
  position: absolute;
  left: 170px;
  padding: 0 20px;
  top: 0;
  background: #ccc; }
  #nav-header .sportShoes1 h3 {
    position: relative;
    height: 20px;
    width: auto;
    margin: 25px auto 0;
    border-bottom: 1px solid #000; }
    #nav-header .sportShoes1 h3 a {
      color: #000;
      font-family: 'Microsoft YaHei';
      position: absolute;
      bottom: 0;
      display: block;
      width: 90px;
      height: 20px;
      padding-left: 40px;
      line-height: 20px;
      padding-top: 17px;
      text-decoration: none;
      font-weight: 700;
      -webkit-transition: left .3s linear;
      -moz-transition: left .3s linear;
      -o-transition: left .3s linear;
      transition: left .3s linear; }
    #nav-header .sportShoes1 h3 .more {
      right: 0;
      text-align: right;
      background: none; }
    #nav-header .sportShoes1 h3 .sport {
      left: 0;
      text-align: left;
      background: url(../images/lf_pop_icon.png) no-repeat;
      background-position: -23px -118px; }
  #nav-header .sportShoes1 .juti {
    width: auto;
    margin: 10px 0 0 -1px;
    overflow: hidden; }
    #nav-header .sportShoes1 .juti a {
      display: inline-block;
      float: left;
      white-space: nowrap;
      padding: 0 8px;
      margin-top: 5px;
      color: #888;
      background: none; }

#nav-header .sportShoes2 {
  overflow: hidden;
  width: 280px;
  margin: 0 20px;
  position: absolute;
  left: 170px;
  padding: 0 20px;
  top: 0;
  background: #ccc; }
  #nav-header .sportShoes2 h3 {
    position: relative;
    height: 20px;
    width: auto;
    margin: 25px auto 0;
    border-bottom: 1px solid #000; }
    #nav-header .sportShoes2 h3 a {
      color: #000;
      font-family: 'Microsoft YaHei';
      position: absolute;
      bottom: 0;
      display: block;
      width: 90px;
      height: 20px;
      padding-left: 40px;
      line-height: 20px;
      padding-top: 17px;
      text-decoration: none;
      font-weight: 700;
      -webkit-transition: left .3s linear;
      -moz-transition: left .3s linear;
      -o-transition: left .3s linear;
      transition: left .3s linear; }
    #nav-header .sportShoes2 h3 .more {
      right: 0;
      text-align: right;
      background: none; }
    #nav-header .sportShoes2 h3 .sport {
      left: 0;
      text-align: left;
      background: url(../images/lf_pop_icon.png) no-repeat;
      background-position: -23px -258px; }
  #nav-header .sportShoes2 .juti {
    width: auto;
    margin: 10px 0 0 -1px;
    overflow: hidden; }
    #nav-header .sportShoes2 .juti a {
      display: inline-block;
      float: left;
      white-space: nowrap;
      padding: 0 8px;
      margin-top: 5px;
      color: #888;
      background: none; }

.wrapBrand {
  width: 100%; }
  .wrapBrand .brand {
    width: 1190px;
    margin: 32px auto;
    margin-bottom: 10px;
    background: #FFFFFF; }
    .wrapBrand .brand .brand-left {
      width: 994px;
      float: left; }
      .wrapBrand .brand .brand-left a {
        border: 1px solid #DFDFDF;
        display: inline-block;
        float: left;
        width: 140px;
        height: 70px;
        position: relative;
        background: url(../images/default_brandwall_bgwide.png) no-repeat 0 0; }
        .wrapBrand .brand .brand-left a:hover span {
          background: #000;
          opacity: 0.1;
          filter: alpha(opacity=10);
          visibility: visible;
          transition: background-color 0.3s ease 0s; }
        .wrapBrand .brand .brand-left a span {
          width: 140px;
          height: 70px;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0; }
      .wrapBrand .brand .brand-left .brand1 {
        background-position: 41px -177px; }
      .wrapBrand .brand .brand-left .brand2 {
        background-position: -106px -176px; }
      .wrapBrand .brand .brand-left .brand3 {
        background-position: -968px -331px; }
      .wrapBrand .brand .brand-left .brand4 {
        background-position: -1124px -331px; }
      .wrapBrand .brand .brand-left .brand5 {
        background-position: -794px -176px; }
      .wrapBrand .brand .brand-left .brand6 {
        background-position: 42px -257px; }
      .wrapBrand .brand .brand-left .brand7 {
        background-position: -795px -259px; }
      .wrapBrand .brand .brand-left .brand8 {
        background-position: -1128px -176px; }
      .wrapBrand .brand .brand-left .brand9 {
        background-position: -968px -10px; }
      .wrapBrand .brand .brand-left .brand10 {
        background-position: -629px -333px; }
      .wrapBrand .brand .brand-left .brand11 {
        background-position: -795px -481px; }
      .wrapBrand .brand .brand-left .brand12 {
        background-position: -1119px -481px; }
      .wrapBrand .brand .brand-left .brand13 {
        background-position: -447px -176px; }
      .wrapBrand .brand .brand-left .brand14 {
        background-position: -274px -177px; }
      .wrapBrand .brand .brand-left .brand15 {
        background-position: -108px -256px; }
      .wrapBrand .brand .brand-left .brand16 {
        background-position: -962px -481px; }
      .wrapBrand .brand .brand-left .brand17 {
        background-position: -798px -332px; }
      .wrapBrand .brand .brand-left .brand18 {
        background-position: -1129px -410px; }
      .wrapBrand .brand .brand-left .brand19 {
        background-position: -108px -481px; }
      .wrapBrand .brand .brand-left .brand20 {
        background-position: -277px -481px; }
      .wrapBrand .brand .brand-left .brand21 {
        background-position: -963px -410px; }
    .wrapBrand .brand .brand-right {
      margin-left: 8px; }
      .wrapBrand .brand .brand-right .hotsline {
        border: 1px solid #f1f1f1;
        height: 60px;
        overflow: hidden; }
        .wrapBrand .brand .brand-right .hotsline li {
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          padding-left: 10px; }
          .wrapBrand .brand .brand-right .hotsline li a {
            color: #333;
            font-size: 12px; }

.special {
  width: 1190px;
  margin: 10px auto; }
  .special a {
    float: left;
    width: 224px;
    height: 284px;
    box-shadow: 0 1px 5px #ccc;
    border: 3px solid #fff;
    border-color: none;
    margin-right: 8px; }
    .special a:hover {
      border: 3px solid red;
      transition: border-color ease 0.5s;
      -webkit-transition: border-color ease 0.5s;
      -moz-transition: border-color ease 0.5s; }
    .special a img {
      width: 100%;
      height: 100%; }

.classify {
  width: 1190px;
  height: 267px;
  margin: 10px auto; }
  .classify .manClassify {
    width: 440px;
    height: 267px;
    float: left;
    border: 1px solid #e6e6e6;
    margin-right: 5px;
    position: relative; }
    .classify .manClassify .man {
      height: 267px;
      float: left; }
    .classify .manClassify .tab {
      margin-left: 0;
      margin-top: 23px;
      padding-left: 10px;
      padding-right: 0;
      border-right: none;
      width: 130px;
      margin-bottom: 20px;
      height: 190px;
      float: left; }
      .classify .manClassify .tab li {
        float: left;
        cursor: pointer;
        width: 122px;
        height: 52px;
        display: block;
        background: url(../images/33.png) no-repeat 0 0; }
        .classify .manClassify .tab li:last-child {
          background: url(../images/12.png) no-repeat 0 -52px; }
    .classify .manClassify .choice1 {
      display: none; }
    .classify .manClassify .choice, .classify .manClassify .choice1 {
      float: left;
      width: 150px;
      height: 265px;
      padding: 15px 0 11px 0px; }
      .classify .manClassify .choice li, .classify .manClassify .choice1 li {
        display: inline-block;
        float: left;
        width: 67px;
        border-right: 1px solid #e2e2e2;
        float: left; }
        .classify .manClassify .choice li p, .classify .manClassify .choice1 li p {
          width: 38px; }
        .classify .manClassify .choice li:last-child, .classify .manClassify .choice1 li:last-child {
          border-right: none;
          padding-left: 13px; }
        .classify .manClassify .choice li a, .classify .manClassify .choice1 li a {
          display: inline-block;
          position: relative;
          font-size: 14px;
          line-height: 26px;
          outline: none;
          color: #575757;
          vertical-align: bottom;
          text-decoration: none;
          white-space: nowrap; }
  .classify .womanClassify {
    width: 440px;
    height: 267px;
    float: left;
    border: 1px solid #e6e6e6;
    margin-right: 5px;
    position: relative; }
    .classify .womanClassify .woman {
      height: 267px;
      float: left; }
    .classify .womanClassify .tab, .classify .womanClassify .tab1 {
      margin-left: 0;
      margin-top: 23px;
      padding-left: 10px;
      padding-right: 0;
      border-right: none;
      width: 130px;
      margin-bottom: 20px;
      height: 190px;
      float: left; }
      .classify .womanClassify .tab li, .classify .womanClassify .tab1 li {
        float: left;
        cursor: pointer;
        width: 122px;
        height: 52px;
        display: block;
        background: url(../images/33.png) no-repeat 0 0; }
        .classify .womanClassify .tab li:last-child, .classify .womanClassify .tab1 li:last-child {
          background: url(../images/12.png) no-repeat 0 -52px; }
    .classify .womanClassify .choice, .classify .womanClassify .choice1 {
      float: left;
      width: 150px;
      height: 265px;
      padding: 15px 0 11px 0px; }
      .classify .womanClassify .choice li, .classify .womanClassify .choice1 li {
        display: inline-block;
        float: left;
        width: 67px;
        border-right: 1px solid #e2e2e2;
        float: left; }
        .classify .womanClassify .choice li p, .classify .womanClassify .choice1 li p {
          width: 38px; }
        .classify .womanClassify .choice li:last-child, .classify .womanClassify .choice1 li:last-child {
          border-right: none;
          padding-left: 13px; }
        .classify .womanClassify .choice li a, .classify .womanClassify .choice1 li a {
          display: inline-block;
          position: relative;
          font-size: 14px;
          line-height: 26px;
          outline: none;
          color: #575757;
          vertical-align: bottom;
          text-decoration: none;
          white-space: nowrap; }
  .classify .partsClassify {
    float: left;
    width: 286px;
    height: 267px;
    border: 1px solid #e6e6e6;
    position: relative; }
    .classify .partsClassify .peijian {
      float: left;
      width: 150px; }
    .classify .partsClassify .choice {
      float: left;
      height: 265px;
      padding: 15px 0 11px 0px; }
      .classify .partsClassify .choice li {
        display: inline-block;
        float: left;
        border-right: 1px solid #e2e2e2;
        width: 56px; }
        .classify .partsClassify .choice li p {
          width: 38px; }
        .classify .partsClassify .choice li:last-child {
          border-right: none;
          padding-left: 13px; }
        .classify .partsClassify .choice li a {
          display: inline-block;
          position: relative;
          font-size: 14px;
          line-height: 26px;
          outline: none;
          color: #575757;
          vertical-align: bottom;
          text-decoration: none;
          white-space: nowrap; }

.Louti1, .Louti2, .Louti3, .Louti4, .Louti5, .Louti6, .Louti7, .Louti8 {
  width: 1190px;
  height: 448px;
  margin: 10px auto; }
  .Louti1 .leftLouti, .Louti2 .leftLouti, .Louti3 .leftLouti, .Louti4 .leftLouti, .Louti5 .leftLouti, .Louti6 .leftLouti, .Louti7 .leftLouti, .Louti8 .leftLouti {
    float: left;
    width: 190px; }
  .Louti1 .LouBrand, .Louti2 .LouBrand, .Louti3 .LouBrand, .Louti4 .LouBrand, .Louti5 .LouBrand, .Louti6 .LouBrand, .Louti7 .LouBrand, .Louti8 .LouBrand {
    width: 190px;
    height: 240px; }
    .Louti1 .LouBrand li, .Louti2 .LouBrand li, .Louti3 .LouBrand li, .Louti4 .LouBrand li, .Louti5 .LouBrand li, .Louti6 .LouBrand li, .Louti7 .LouBrand li, .Louti8 .LouBrand li {
      float: left;
      width: 95px;
      height: 40px;
      overflow: hidden;
      line-height: 30em;
      border-right: 1px dashed #ddd;
      border-bottom: 1px dashed #ddd;
      margin: 0 -1px -1px 0;
      background: url(../images/201409101646002.png) no-repeat; }
    .Louti1 .LouBrand .nike1, .Louti2 .LouBrand .nike1, .Louti3 .LouBrand .nike1, .Louti4 .LouBrand .nike1, .Louti5 .LouBrand .nike1, .Louti6 .LouBrand .nike1, .Louti7 .LouBrand .nike1, .Louti8 .LouBrand .nike1 {
      background-position: 5px 2px; }
    .Louti1 .LouBrand .nike2, .Louti2 .LouBrand .nike2, .Louti3 .LouBrand .nike2, .Louti4 .LouBrand .nike2, .Louti5 .LouBrand .nike2, .Louti6 .LouBrand .nike2, .Louti7 .LouBrand .nike2, .Louti8 .LouBrand .nike2 {
      background-position: 0 -152px; }
    .Louti1 .LouBrand .nike3, .Louti2 .LouBrand .nike3, .Louti3 .LouBrand .nike3, .Louti4 .LouBrand .nike3, .Louti5 .LouBrand .nike3, .Louti6 .LouBrand .nike3, .Louti7 .LouBrand .nike3, .Louti8 .LouBrand .nike3 {
      background-position: 0px -760px; }
    .Louti1 .LouBrand .nike4, .Louti2 .LouBrand .nike4, .Louti3 .LouBrand .nike4, .Louti4 .LouBrand .nike4, .Louti5 .LouBrand .nike4, .Louti6 .LouBrand .nike4, .Louti7 .LouBrand .nike4, .Louti8 .LouBrand .nike4 {
      background-position: 0px -798px; }
    .Louti1 .LouBrand .nike5, .Louti2 .LouBrand .nike5, .Louti3 .LouBrand .nike5, .Louti4 .LouBrand .nike5, .Louti5 .LouBrand .nike5, .Louti6 .LouBrand .nike5, .Louti7 .LouBrand .nike5, .Louti8 .LouBrand .nike5 {
      background-position: 0px -76px; }
    .Louti1 .LouBrand .nike6, .Louti2 .LouBrand .nike6, .Louti3 .LouBrand .nike6, .Louti4 .LouBrand .nike6, .Louti5 .LouBrand .nike6, .Louti6 .LouBrand .nike6, .Louti7 .LouBrand .nike6, .Louti8 .LouBrand .nike6 {
      background-position: 0px -1257px; }
    .Louti1 .LouBrand .nike7, .Louti2 .LouBrand .nike7, .Louti3 .LouBrand .nike7, .Louti4 .LouBrand .nike7, .Louti5 .LouBrand .nike7, .Louti6 .LouBrand .nike7, .Louti7 .LouBrand .nike7, .Louti8 .LouBrand .nike7 {
      background-position: 0px -228px; }
    .Louti1 .LouBrand .nike8, .Louti2 .LouBrand .nike8, .Louti3 .LouBrand .nike8, .Louti4 .LouBrand .nike8, .Louti5 .LouBrand .nike8, .Louti6 .LouBrand .nike8, .Louti7 .LouBrand .nike8, .Louti8 .LouBrand .nike8 {
      background-position: 0px -893px; }
    .Louti1 .LouBrand .nike9, .Louti2 .LouBrand .nike9, .Louti3 .LouBrand .nike9, .Louti4 .LouBrand .nike9, .Louti5 .LouBrand .nike9, .Louti6 .LouBrand .nike9, .Louti7 .LouBrand .nike9, .Louti8 .LouBrand .nike9 {
      background-position: 0px -494px; }
    .Louti1 .LouBrand .nike10, .Louti2 .LouBrand .nike10, .Louti3 .LouBrand .nike10, .Louti4 .LouBrand .nike10, .Louti5 .LouBrand .nike10, .Louti6 .LouBrand .nike10, .Louti7 .LouBrand .nike10, .Louti8 .LouBrand .nike10 {
      background-position: 0px -266px; }
    .Louti1 .LouBrand .nike11, .Louti2 .LouBrand .nike11, .Louti3 .LouBrand .nike11, .Louti4 .LouBrand .nike11, .Louti5 .LouBrand .nike11, .Louti6 .LouBrand .nike11, .Louti7 .LouBrand .nike11, .Louti8 .LouBrand .nike11 {
      background-position: -2px -1556px; }
    .Louti1 .LouBrand .nike12, .Louti2 .LouBrand .nike12, .Louti3 .LouBrand .nike12, .Louti4 .LouBrand .nike12, .Louti5 .LouBrand .nike12, .Louti6 .LouBrand .nike12, .Louti7 .LouBrand .nike12, .Louti8 .LouBrand .nike12 {
      background-position: -2px -1591px; }
  .Louti1 .botName, .Louti2 .botName, .Louti3 .botName, .Louti4 .botName, .Louti5 .botName, .Louti6 .botName, .Louti7 .botName, .Louti8 .botName {
    width: 191px;
    height: 124px; }
    .Louti1 .botName li, .Louti2 .botName li, .Louti3 .botName li, .Louti4 .botName li, .Louti5 .botName li, .Louti6 .botName li, .Louti7 .botName li, .Louti8 .botName li {
      width: 174px;
      float: left;
      background: #fff;
      padding-top: 10px;
      padding: 6px 0px 4px 8px; }
      .Louti1 .botName li a, .Louti2 .botName li a, .Louti3 .botName li a, .Louti4 .botName li a, .Louti5 .botName li a, .Louti6 .botName li a, .Louti7 .botName li a, .Louti8 .botName li a {
        color: #3e3e3e;
        display: inline-block;
        width: 85px;
        font-size: 13px;
        font-weight: 700;
        line-height: 26px;
        text-decoration: none;
        font-family: Microsoft Yahei; }
  .Louti1 .posterShoes, .Louti2 .posterShoes, .Louti3 .posterShoes, .Louti4 .posterShoes, .Louti5 .posterShoes, .Louti6 .posterShoes, .Louti7 .posterShoes, .Louti8 .posterShoes {
    width: 402px;
    height: 426px;
    float: left;
    margin-left: 10px; }
    .Louti1 .posterShoes a, .Louti2 .posterShoes a, .Louti3 .posterShoes a, .Louti4 .posterShoes a, .Louti5 .posterShoes a, .Louti6 .posterShoes a, .Louti7 .posterShoes a, .Louti8 .posterShoes a {
      display: block;
      width: 402px;
      height: 426px;
      float: left;
      color: #797979;
      font-size: 14px;
      font-family: Microsoft Yahei;
      text-decoration: none;
      border-right: 1px solid #d2d2d2;
      position: relative;
      overflow: hidden; }
      .Louti1 .posterShoes a:hover, .Louti2 .posterShoes a:hover, .Louti3 .posterShoes a:hover, .Louti4 .posterShoes a:hover, .Louti5 .posterShoes a:hover, .Louti6 .posterShoes a:hover, .Louti7 .posterShoes a:hover, .Louti8 .posterShoes a:hover {
        zoom: 1;
        visibility: visible; }
        .Louti1 .posterShoes a:hover img, .Louti2 .posterShoes a:hover img, .Louti3 .posterShoes a:hover img, .Louti4 .posterShoes a:hover img, .Louti5 .posterShoes a:hover img, .Louti6 .posterShoes a:hover img, .Louti7 .posterShoes a:hover img, .Louti8 .posterShoes a:hover img {
          zoom: 1;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          transform: translateX(0); }
      .Louti1 .posterShoes a img, .Louti2 .posterShoes a img, .Louti3 .posterShoes a img, .Louti4 .posterShoes a img, .Louti5 .posterShoes a img, .Louti6 .posterShoes a img, .Louti7 .posterShoes a img, .Louti8 .posterShoes a img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: translateX(2%);
        -moz-transform: translateX(2%);
        transform: translateX(2%); }
  .Louti1 .Shoesshow, .Louti2 .Shoesshow, .Louti3 .Shoesshow, .Louti4 .Shoesshow, .Louti5 .Shoesshow, .Louti6 .Shoesshow, .Louti7 .Shoesshow, .Louti8 .Shoesshow {
    width: 580px;
    float: left; }
    .Louti1 .Shoesshow a, .Louti2 .Shoesshow a, .Louti3 .Shoesshow a, .Louti4 .Shoesshow a, .Louti5 .Shoesshow a, .Louti6 .Shoesshow a, .Louti7 .Shoesshow a, .Louti8 .Shoesshow a {
      display: inline-block;
      height: 213px;
      border-bottom: 1px solid #d2d2d2;
      width: 192px;
      float: left;
      color: #797979;
      font-size: 14px;
      text-decoration: none;
      border-right: 1px solid #d2d2d2;
      position: relative;
      overflow: hidden; }
      .Louti1 .Shoesshow a:hover, .Louti2 .Shoesshow a:hover, .Louti3 .Shoesshow a:hover, .Louti4 .Shoesshow a:hover, .Louti5 .Shoesshow a:hover, .Louti6 .Shoesshow a:hover, .Louti7 .Shoesshow a:hover, .Louti8 .Shoesshow a:hover {
        zoom: 1;
        visibility: visible; }
        .Louti1 .Shoesshow a:hover img, .Louti2 .Shoesshow a:hover img, .Louti3 .Shoesshow a:hover img, .Louti4 .Shoesshow a:hover img, .Louti5 .Shoesshow a:hover img, .Louti6 .Shoesshow a:hover img, .Louti7 .Shoesshow a:hover img, .Louti8 .Shoesshow a:hover img {
          zoom: 1;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          transform: translateX(0); }
      .Louti1 .Shoesshow a img, .Louti2 .Shoesshow a img, .Louti3 .Shoesshow a img, .Louti4 .Shoesshow a img, .Louti5 .Shoesshow a img, .Louti6 .Shoesshow a img, .Louti7 .Shoesshow a img, .Louti8 .Shoesshow a img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: translateX(2%);
        -moz-transform: translateX(2%);
        transform: translateX(2%); }

.footbrand {
  width: 1190px;
  height: 143px;
  margin: 15px auto; }
  .footbrand a {
    width: 118px;
    border: 1px solid #DFDFDF;
    display: block;
    float: left;
    height: 70px;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    position: relative;
    background: url(../images/default_brandwall_bg11.png); }
  .footbrand .tu1 {
    background-position: 30px -176px; }
  .footbrand .tu2 {
    background-position: -97px -176px; }
  .footbrand .tu3 {
    background-position: -707px -333px; }
  .footbrand .tu4 {
    background-position: -580px -176px; }
  .footbrand .tu5 {
    background-position: 29px -257px; }
  .footbrand .tu6 {
    background-position: -582px -258px; }
  .footbrand .tu7 {
    background-position: -825px -176px; }
  .footbrand .tu8 {
    background-position: -709px -10px; }
  .footbrand .tu9 {
    background-position: -825px -176px; }
  .footbrand .tu10 {
    background-position: -458px -331px; }
  .footbrand .tu11 {
    background-position: -711px -486px; }
  .footbrand .tu12 {
    background-position: -337px -176px; }
  .footbrand .tu13 {
    background-position: -220px -176px; }
  .footbrand .tu14 {
    background-position: -95px -256px; }
  .footbrand .tu15 {
    background-position: -583px -332px; }
  .footbrand .tu16 {
    background-position: -829px -411px; }
  .footbrand .tu17 {
    background-position: -586px -491px; }
  .footbrand .tu18 {
    background-position: -215px -491px; }
  .footbrand .tu19 {
    background-position: -338px -491px; }
  .footbrand .tu20 {
    background-position: 32px -490px; }

/*# sourceMappingURL=index.css.map */
