@charset "UTF-8";
.Navigation {
  padding: 10px 0;
  font-family: '瀹嬩綋';
  color: #999;
  width: 990px;
  margin: 0 auto;
  font-size: 12px; }
  .Navigation span {
    margin: 0 5px 0 0; }
    .Navigation span a {
      color: #999;
      text-decoration: none;
      font-size: 12px; }

.n_bar {
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
  padding-left: 1em;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  width: 990px;
  margin: 0 auto; }
  .n_bar p {
    display: inline-block;
    height: 30px;
    padding: 0 30px 0 0;
    margin: 0;
    float: left;
    background: url(../images/list_icon.png) no-repeat right 0; }
  .n_bar span {
    color: #999;
    font-size: 12px;
    font-weight: normal; }
    .n_bar span i {
      color: #c00;
      font-style: normal;
      padding: 0 3px; }

.allDatas {
  width: 1004px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  border-top: 0;
  margin-bottom: 0;
  background: #fafafa; }
  .allDatas .choiced {
    padding: 15px 0;
    color: #666;
    padding-left: 14px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px; }
    .allDatas .choiced a {
      border: 1px solid #c00;
      border-radius: 2px;
      height: 15px;
      line-height: 18px;
      overflow: hidden;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      margin-right: 5px;
      padding: 2px 19px 2px 4px;
      color: #555;
      font-size: 12px; }
      .allDatas .choiced a h5 {
        font-size: 12px;
        display: inline-block; }
      .allDatas .choiced a em {
        color: #c00; }
      .allDatas .choiced a i {
        background: url(../images/list_icon.png) no-repeat 0 -43px;
        display: block;
        position: absolute;
        right: 2px;
        top: 3px;
        height: 13px;
        width: 13px;
        overflow: hidden;
        background-color: #c00; }
  .allDatas .brandlogo {
    display: block;
    padding: 12px 0px 4px 70px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    white-space: nowrap;
    zoom: 1;
    width: 928px;
    height: 101px;
    position: relative; }
    .allDatas .brandlogo .more_open {
      position: absolute;
      top: 11px;
      right: 18px;
      color: #666;
      line-height: 16px;
      padding: 0 5px 0 20px;
      border: 1px solid #ddd;
      cursor: pointer;
      background: #eee url(../images/list_icon.png) no-repeat 5px -364px; }
    .allDatas .brandlogo dt {
      display: block;
      width: 65px;
      position: absolute;
      left: 0;
      top: 12px;
      text-align: right;
      color: #888;
      font-size: 12px; }
    .allDatas .brandlogo dd {
      height: 42px;
      margin: 0 25px 0 0;
      overflow: hidden;
      width: 85px;
      float: left;
      background: url(../images/skin_201201.png) no-repeat -284px -119px; }
      .allDatas .brandlogo dd a {
        height: 32px;
        float: left;
        width: 57px;
        margin: 0;
        line-height: 8;
        overflow: hidden;
        background: url(../images/skin_201201.png) no-repeat; }
      .allDatas .brandlogo dd .brand1 {
        background-position: -67px -422px; }
      .allDatas .brandlogo dd .brand2 {
        background-position: -5px -498px; }
      .allDatas .brandlogo dd .brand3 {
        background-position: -130px -422px; }
      .allDatas .brandlogo dd .brand4 {
        background-position: -67px -460px; }
      .allDatas .brandlogo dd .brand5 {
        background-position: -67px -498px; }
      .allDatas .brandlogo dd .brand6 {
        background-position: -373px -500px; }
      .allDatas .brandlogo dd .brand7 {
        background-position: -67px -460px; }
      .allDatas .brandlogo dd .brand8 {
        background-position: -67px -460px; }
      .allDatas .brandlogo dd .brand9 {
        background-position: -67px -460px; }
      .allDatas .brandlogo dd .brand10 {
        background-position: -192px -422px; }
      .allDatas .brandlogo dd .brand11 {
        background-position: -192px -422px; }
    .allDatas .brandlogo .lastInp {
      position: absolute;
      left: 460px;
      bottom: 6px; }
      .allDatas .brandlogo .lastInp input {
        outline: none;
        border: 1px solid #ccc;
        background: #f2f2f2;
        color: #c5c5c5;
        cursor: default;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding: 0 10px;
        border-radius: 2px; }
        .allDatas .brandlogo .lastInp input:last-child {
          margin-left: 8px;
          background: url(../images/head_cart_bg.gif) no-repeat -50px -2px; }
  .allDatas .sizes, .allDatas .price, .allDatas .football, .allDatas .seasons, .allDatas .star, .allDatas .adapt, .allDatas .pourp, .allDatas .telcon {
    display: block;
    padding: 12px 0px 4px 70px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    white-space: nowrap;
    zoom: 1;
    width: 928px;
    height: 63px;
    position: relative; }
    .allDatas .sizes .lastInp1, .allDatas .sizes .lastInp10, .allDatas .sizes .lastInp2, .allDatas .sizes .lastInp3, .allDatas .sizes .lastInp4, .allDatas .sizes .lastInp5, .allDatas .sizes .lastInp6, .allDatas .sizes .lastInp7, .allDatas .price .lastInp1, .allDatas .price .lastInp10, .allDatas .price .lastInp2, .allDatas .price .lastInp3, .allDatas .price .lastInp4, .allDatas .price .lastInp5, .allDatas .price .lastInp6, .allDatas .price .lastInp7, .allDatas .football .lastInp1, .allDatas .football .lastInp10, .allDatas .football .lastInp2, .allDatas .football .lastInp3, .allDatas .football .lastInp4, .allDatas .football .lastInp5, .allDatas .football .lastInp6, .allDatas .football .lastInp7, .allDatas .seasons .lastInp1, .allDatas .seasons .lastInp10, .allDatas .seasons .lastInp2, .allDatas .seasons .lastInp3, .allDatas .seasons .lastInp4, .allDatas .seasons .lastInp5, .allDatas .seasons .lastInp6, .allDatas .seasons .lastInp7, .allDatas .star .lastInp1, .allDatas .star .lastInp10, .allDatas .star .lastInp2, .allDatas .star .lastInp3, .allDatas .star .lastInp4, .allDatas .star .lastInp5, .allDatas .star .lastInp6, .allDatas .star .lastInp7, .allDatas .adapt .lastInp1, .allDatas .adapt .lastInp10, .allDatas .adapt .lastInp2, .allDatas .adapt .lastInp3, .allDatas .adapt .lastInp4, .allDatas .adapt .lastInp5, .allDatas .adapt .lastInp6, .allDatas .adapt .lastInp7, .allDatas .pourp .lastInp1, .allDatas .pourp .lastInp10, .allDatas .pourp .lastInp2, .allDatas .pourp .lastInp3, .allDatas .pourp .lastInp4, .allDatas .pourp .lastInp5, .allDatas .pourp .lastInp6, .allDatas .pourp .lastInp7, .allDatas .telcon .lastInp1, .allDatas .telcon .lastInp10, .allDatas .telcon .lastInp2, .allDatas .telcon .lastInp3, .allDatas .telcon .lastInp4, .allDatas .telcon .lastInp5, .allDatas .telcon .lastInp6, .allDatas .telcon .lastInp7 {
      position: absolute;
      left: 460px;
      bottom: 6px; }
      .allDatas .sizes .lastInp1 input, .allDatas .sizes .lastInp10 input, .allDatas .sizes .lastInp2 input, .allDatas .sizes .lastInp3 input, .allDatas .sizes .lastInp4 input, .allDatas .sizes .lastInp5 input, .allDatas .sizes .lastInp6 input, .allDatas .sizes .lastInp7 input, .allDatas .price .lastInp1 input, .allDatas .price .lastInp10 input, .allDatas .price .lastInp2 input, .allDatas .price .lastInp3 input, .allDatas .price .lastInp4 input, .allDatas .price .lastInp5 input, .allDatas .price .lastInp6 input, .allDatas .price .lastInp7 input, .allDatas .football .lastInp1 input, .allDatas .football .lastInp10 input, .allDatas .football .lastInp2 input, .allDatas .football .lastInp3 input, .allDatas .football .lastInp4 input, .allDatas .football .lastInp5 input, .allDatas .football .lastInp6 input, .allDatas .football .lastInp7 input, .allDatas .seasons .lastInp1 input, .allDatas .seasons .lastInp10 input, .allDatas .seasons .lastInp2 input, .allDatas .seasons .lastInp3 input, .allDatas .seasons .lastInp4 input, .allDatas .seasons .lastInp5 input, .allDatas .seasons .lastInp6 input, .allDatas .seasons .lastInp7 input, .allDatas .star .lastInp1 input, .allDatas .star .lastInp10 input, .allDatas .star .lastInp2 input, .allDatas .star .lastInp3 input, .allDatas .star .lastInp4 input, .allDatas .star .lastInp5 input, .allDatas .star .lastInp6 input, .allDatas .star .lastInp7 input, .allDatas .adapt .lastInp1 input, .allDatas .adapt .lastInp10 input, .allDatas .adapt .lastInp2 input, .allDatas .adapt .lastInp3 input, .allDatas .adapt .lastInp4 input, .allDatas .adapt .lastInp5 input, .allDatas .adapt .lastInp6 input, .allDatas .adapt .lastInp7 input, .allDatas .pourp .lastInp1 input, .allDatas .pourp .lastInp10 input, .allDatas .pourp .lastInp2 input, .allDatas .pourp .lastInp3 input, .allDatas .pourp .lastInp4 input, .allDatas .pourp .lastInp5 input, .allDatas .pourp .lastInp6 input, .allDatas .pourp .lastInp7 input, .allDatas .telcon .lastInp1 input, .allDatas .telcon .lastInp10 input, .allDatas .telcon .lastInp2 input, .allDatas .telcon .lastInp3 input, .allDatas .telcon .lastInp4 input, .allDatas .telcon .lastInp5 input, .allDatas .telcon .lastInp6 input, .allDatas .telcon .lastInp7 input {
        outline: none;
        border: 1px solid #ccc;
        background: #f2f2f2;
        color: #c5c5c5;
        cursor: default;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding: 0 10px;
        border-radius: 2px; }
        .allDatas .sizes .lastInp1 input:last-child, .allDatas .sizes .lastInp10 input:last-child, .allDatas .sizes .lastInp2 input:last-child, .allDatas .sizes .lastInp3 input:last-child, .allDatas .sizes .lastInp4 input:last-child, .allDatas .sizes .lastInp5 input:last-child, .allDatas .sizes .lastInp6 input:last-child, .allDatas .sizes .lastInp7 input:last-child, .allDatas .price .lastInp1 input:last-child, .allDatas .price .lastInp10 input:last-child, .allDatas .price .lastInp2 input:last-child, .allDatas .price .lastInp3 input:last-child, .allDatas .price .lastInp4 input:last-child, .allDatas .price .lastInp5 input:last-child, .allDatas .price .lastInp6 input:last-child, .allDatas .price .lastInp7 input:last-child, .allDatas .football .lastInp1 input:last-child, .allDatas .football .lastInp10 input:last-child, .allDatas .football .lastInp2 input:last-child, .allDatas .football .lastInp3 input:last-child, .allDatas .football .lastInp4 input:last-child, .allDatas .football .lastInp5 input:last-child, .allDatas .football .lastInp6 input:last-child, .allDatas .football .lastInp7 input:last-child, .allDatas .seasons .lastInp1 input:last-child, .allDatas .seasons .lastInp10 input:last-child, .allDatas .seasons .lastInp2 input:last-child, .allDatas .seasons .lastInp3 input:last-child, .allDatas .seasons .lastInp4 input:last-child, .allDatas .seasons .lastInp5 input:last-child, .allDatas .seasons .lastInp6 input:last-child, .allDatas .seasons .lastInp7 input:last-child, .allDatas .star .lastInp1 input:last-child, .allDatas .star .lastInp10 input:last-child, .allDatas .star .lastInp2 input:last-child, .allDatas .star .lastInp3 input:last-child, .allDatas .star .lastInp4 input:last-child, .allDatas .star .lastInp5 input:last-child, .allDatas .star .lastInp6 input:last-child, .allDatas .star .lastInp7 input:last-child, .allDatas .adapt .lastInp1 input:last-child, .allDatas .adapt .lastInp10 input:last-child, .allDatas .adapt .lastInp2 input:last-child, .allDatas .adapt .lastInp3 input:last-child, .allDatas .adapt .lastInp4 input:last-child, .allDatas .adapt .lastInp5 input:last-child, .allDatas .adapt .lastInp6 input:last-child, .allDatas .adapt .lastInp7 input:last-child, .allDatas .pourp .lastInp1 input:last-child, .allDatas .pourp .lastInp10 input:last-child, .allDatas .pourp .lastInp2 input:last-child, .allDatas .pourp .lastInp3 input:last-child, .allDatas .pourp .lastInp4 input:last-child, .allDatas .pourp .lastInp5 input:last-child, .allDatas .pourp .lastInp6 input:last-child, .allDatas .pourp .lastInp7 input:last-child, .allDatas .telcon .lastInp1 input:last-child, .allDatas .telcon .lastInp10 input:last-child, .allDatas .telcon .lastInp2 input:last-child, .allDatas .telcon .lastInp3 input:last-child, .allDatas .telcon .lastInp4 input:last-child, .allDatas .telcon .lastInp5 input:last-child, .allDatas .telcon .lastInp6 input:last-child, .allDatas .telcon .lastInp7 input:last-child {
          margin-left: 8px;
          background: url(../images/head_cart_bg.gif) no-repeat -50px -2px; }
    .allDatas .sizes .more_open, .allDatas .price .more_open, .allDatas .football .more_open, .allDatas .seasons .more_open, .allDatas .star .more_open, .allDatas .adapt .more_open, .allDatas .pourp .more_open, .allDatas .telcon .more_open {
      position: absolute;
      height: 18px;
      top: 11px;
      right: 18px;
      color: #666;
      line-height: 16px;
      padding: 0 5px 0 20px;
      border: 1px solid #ddd;
      cursor: pointer;
      background: #eee url(../images/list_icon.png) no-repeat 5px -364px; }
    .allDatas .sizes dt span, .allDatas .price dt span, .allDatas .football dt span, .allDatas .seasons dt span, .allDatas .star dt span, .allDatas .adapt dt span, .allDatas .pourp dt span, .allDatas .telcon dt span {
      display: block;
      width: 65px;
      position: absolute;
      left: 0;
      top: 12px;
      text-align: right;
      color: #888;
      font-size: 12px;
      height: 23px;
      line-height: 23px; }
    .allDatas .sizes dd, .allDatas .price dd, .allDatas .football dd, .allDatas .seasons dd, .allDatas .star dd, .allDatas .adapt dd, .allDatas .pourp dd, .allDatas .telcon dd {
      width: 110px;
      height: 23px;
      float: left;
      white-space: nowrap; }
      .allDatas .sizes dd a, .allDatas .price dd a, .allDatas .football dd a, .allDatas .seasons dd a, .allDatas .star dd a, .allDatas .adapt dd a, .allDatas .pourp dd a, .allDatas .telcon dd a {
        color: #333;
        text-decoration: none;
        font-size: 12px; }
  .allDatas .price, .allDatas .football, .allDatas .seasons, .allDatas .star, .allDatas .adapt, .allDatas .pourp, .allDatas .telcon {
    height: 40px;
    padding: 11px 0px 0px 70px; }

.later0 {
  position: relative;
  margin: 0 auto;
  width: 1008px;
  height: 34px;
  text-align: center; }
  .later0 .expand, .later0 .collect {
    display: block;
    width: 98px;
    height: 34px;
    padding-right: 10px;
    line-height: 28px;
    color: #999;
    left: 456px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    margin-top: -1px;
    background: url(../images/c_o_icon.png) no-repeat;
    background-position: -121px 0; }
    .later0 .expand i, .later0 .collect i {
      display: block;
      width: 9px;
      height: 5px;
      overflow: hidden;
      position: absolute;
      top: 12px;
      right: 24px;
      background: url(../images/c_o_icon.png) no-repeat;
      background-position: -110px -8px; }

#sorts {
  width: 1008px;
  margin: 10px auto; }
  #sorts .pai {
    border: 1px solid #dbdbdb;
    border-top-width: 4px;
    background: #f7f7f7;
    height: 36px;
    line-height: 36px;
    color: #666;
    padding: 0 15px 0 10px; }
    #sorts .pai .page {
      float: right;
      font-size: 12px;
      height: 36px;
      line-height: 36px; }
      #sorts .pai .page i {
        color: #f60;
        padding: 0 3px; }
    #sorts .pai .des {
      float: left; }
      #sorts .pai .des i {
        float: left; }
      #sorts .pai .des a {
        background-image: none;
        padding: 0 7px;
        display: block;
        float: left;
        height: 20px;
        line-height: 20px;
        _line-height: 22px;
        overflow: hidden;
        color: #666;
        border-radius: 2px;
        background: #ccc;
        margin: 8px 6px 0 3px;
        padding: 0 16px 0 7px;
        font-family: '瀹嬩綋';
        text-decoration: none;
        font-size: 14px; }
      #sorts .pai .des .des_def {
        padding: 0 10px 0 7px; }
      #sorts .pai .des .des_pri {
        background: #f60 url(../images/list_icon.png) no-repeat 34px -203px;
        color: #fff; }
      #sorts .pai .des .des_sale {
        background: #ccc url(../images/list_icon.png) no-repeat 34px -159px; }
  #sorts .cl1, #sorts .cl2, #sorts .cl3, #sorts .cl4 {
    width: 220px;
    margin: 20px 11px 10px;
    border: 1px solid #eee;
    height: 328px;
    float: left;
    position: relative;
    box-sizing: border-box; }
    #sorts .cl1 dt, #sorts .cl2 dt, #sorts .cl3 dt, #sorts .cl4 dt {
      height: 244px;
      border: 0;
      padding: 3px 0 3px;
      position: relative;
      text-align: center;
      border: 2px solid #ffffff; }
    #sorts .cl1 .p-scroll, #sorts .cl2 .p-scroll, #sorts .cl3 .p-scroll, #sorts .cl4 .p-scroll {
      position: absolute;
      z-index: 2;
      width: 194px;
      margin-left: 0;
      padding: 2px 0 3px 26px;
      margin-top: 2px;
      bottom: 74px; }
      #sorts .cl1 .p-scroll .ps-wrap ul, #sorts .cl2 .p-scroll .ps-wrap ul, #sorts .cl3 .p-scroll .ps-wrap ul, #sorts .cl4 .p-scroll .ps-wrap ul {
        overflow: hidden; }
      #sorts .cl1 .p-scroll a, #sorts .cl2 .p-scroll a, #sorts .cl3 .p-scroll a, #sorts .cl4 .p-scroll a {
        cursor: default;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 1px; }
        #sorts .cl1 .p-scroll a:last-child, #sorts .cl2 .p-scroll a:last-child, #sorts .cl3 .p-scroll a:last-child, #sorts .cl4 .p-scroll a:last-child {
          margin-left: 5px; }
      #sorts .cl1 .p-scroll li, #sorts .cl2 .p-scroll li, #sorts .cl3 .p-scroll li, #sorts .cl4 .p-scroll li {
        float: left;
        width: 34px;
        height: 34px;
        text-align: left; }
        #sorts .cl1 .p-scroll li:last-child, #sorts .cl2 .p-scroll li:last-child, #sorts .cl3 .p-scroll li:last-child, #sorts .cl4 .p-scroll li:last-child {
          margin-left: 5px; }
      #sorts .cl1 .p-scroll .prev, #sorts .cl1 .p-scroll .next, #sorts .cl2 .p-scroll .prev, #sorts .cl2 .p-scroll .next, #sorts .cl3 .p-scroll .prev, #sorts .cl3 .p-scroll .next, #sorts .cl4 .p-scroll .prev, #sorts .cl4 .p-scroll .next {
        padding: 0;
        color: #ccc;
        cursor: default;
        display: block;
        left: 192px;
        top: 0;
        position: absolute;
        width: 20px;
        height: 29px;
        line-height: 29px;
        text-align: center;
        font-size: 16px;
        font-family: "\5b8b\4f53"; }
      #sorts .cl1 .p-scroll .prev, #sorts .cl2 .p-scroll .prev, #sorts .cl3 .p-scroll .prev, #sorts .cl4 .p-scroll .prev {
        left: 0;
        top: 0; }
    #sorts .cl1 .txt1, #sorts .cl2 .txt1, #sorts .cl3 .txt1, #sorts .cl4 .txt1 {
      height: 85px;
      height: 60px;
      width: 203px;
      padding: 5px 5px 5px 10px; }
      #sorts .cl1 .txt1 li, #sorts .cl2 .txt1 li, #sorts .cl3 .txt1 li, #sorts .cl4 .txt1 li {
        display: block;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        font-size: 12px;
        color: #555; }
        #sorts .cl1 .txt1 li:first-child s, #sorts .cl2 .txt1 li:first-child s, #sorts .cl3 .txt1 li:first-child s, #sorts .cl4 .txt1 li:first-child s {
          margin-left: 5px; }
        #sorts .cl1 .txt1 li:last-child i, #sorts .cl2 .txt1 li:last-child i, #sorts .cl3 .txt1 li:last-child i, #sorts .cl4 .txt1 li:last-child i {
          color: red; }
  #sorts .active {
    border: 3px solid #C5C5C5;
    position: relative; }

/*# sourceMappingURL=list.css.map */
